apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://bitnami-labs.github.io/sealed-secrets'
    targetRevision: 2.17.9
    chart: sealed-secrets
    helm:
      parameters:
        - name: nodeSelector.labelname
          value: 'ubuntu-302'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: sealed-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rook-release
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://charts.rook.io/release'
    targetRevision: 1.19
    chart: rook-release
    helm:
      parameters:
        - name: nodeSelector.labelname
          value: 'ubuntu-302'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: rook-release
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
